extends layout

block content
	h1 done'
	
	each column , j in arr
		each col , i in column
			if j==0 
				if col =='email'
					h2 #{i}
					span
						b #{col}
				else
					span #{col}
			else
				span #{col}
		

